.d-flex {
    padding-top: 20px;
}

.accordion-item {
    width: 400px;
}

.accordion-body {
    padding: 0;
}

.nav-head {
    padding: 0;
}

.nav-pills {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-pills .nav-link {
    border-radius: 0;
    width: 100%
}
.wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}